@use '../variable';
@use './mixin';
@use './function.scss';
@use './extend';

.no--margin {
	@include mixin.margin(0);
}

.no--padding {
	@include mixin.padding(0);
}

.no--border {
	border: 0;
}

.no--border-radius {
	border-radius: 0;
}

.no--shadow {
	box-shadow: none;
}

.no--bg {
	background: transparent;
}

.width--auto {
	width: auto !important;
}

.width--fit-content {
	width: fit-content;
}

.width--0 {
	width: 0.1%;
}

.width--5 {
	width: 5%;
}

.width--6 {
	width: 6%;
}

.width--7 {
	width: 7%;
}

.width--8 {
	width: 8%;
}

.width--9 {
	width: 9%;
}

.width--10 {
	width: 10%;
}

.width--11 {
	width: 11%;
}

.width--12 {
	width: 12%;
}

.width--13 {
	width: 13%;
}

.width--14 {
	width: 14%;
}

.width--15 {
	width: 15%;
}

.width--17 {
	width: 17%;
}

.width--18 {
	width: 18%;
}

.width--19 {
	width: 19%;
}

.width--20 {
	width: 20%;
}

.width--25 {
	width: 25%;
}

.width--30 {
	width: 30%;
}

.width--35 {
	width: 35%;
}

.width--40 {
	width: 40%;
}

.width--45 {
	width: 45%;
}

.width--50 {
	width: 50%;
}

.width--55 {
	width: 55%;
}

.width--60 {
	width: 60%;
}

.width--65 {
	width: 65%;
}

.width--70 {
	width: 70%;
}

.width--75 {
	width: 75%;
}

.width--80 {
	width: 80%;
}

.width--16px {
	width: 16px;
}

.width--20px {
	width: 20px;
}

.width--32px {
	width: 32px;
}

.width--50px {
	width: 50px;
}

.width--60px {
	width: 60px;
}

.width--full {
	width: variable.$full-width !important;
}

.width--full-viewport {
	width: variable.$full-viewport-width;
}

.max-width--half {
	max-width: 50%;
}

.height--40 {
	height: 40%;
}

.height--60 {
	height: 60%;
}
.height--2px {
	height: 2px;
}
.height--15px {
	height: 15px;
}

.height--16px {
	height: 16px;
}

.height--50px {
	height: 50px;
}

.height--full {
	height: variable.$full-height;
}

.height--full-viewport {
	height: variable.$full-viewport-height;
}
.height--fit-content {
	height: fit-content !important;
}

.min-height--inherit {
	min-height: inherit;
}

.box-size--border-box {
	box-sizing: border-box;
}

.hide {
	display: none;
}

.show {
	display: block;
}

//hide till width 992px
.hide--lg {
	display: none;
}

//show from width 1920px
.show--xl {
	display: none;
}

//hide from width 1920px
.hide--xl {
	display: block;
}

//show from width 992px
.show--lg {
	display: block;
}

//hide till width 768px
.hide--md {
	display: none;
}

//show after width 768px
.show--md {
	display: block;
}

//hide till width 576px
.hide--sm {
	display: none;
}

//show after width 576px
.show--sm {
	display: block;
}

//hide till width 425px
.hide--xs {
	display: none;
}

//show after width 425px
.show--xs {
	display: block;
}

.visibility--hidden {
	visibility: hidden;
}

.break-word--all {
	word-break: break-all;
}

.break-word--word {
	word-break: break-word;
}

.m--auto {
	@include mixin.margin(auto);
}

.m--0-auto {
	@include mixin.margin(0 auto);
}

.m--auto-0 {
	@include mixin.margin(auto 0);
}

.m--10 {
	@include mixin.margin(10px);
}

.m--20 {
	@include mixin.margin(20px);
}
.m--25 {
	@include mixin.margin(25px);
}
.m--35 {
	@include mixin.margin(35px);
}

.mt--0 {
	@include mixin.marginTop(0);
}

.mt--4 {
	@include mixin.marginTop(4px);
}

.mt--5 {
	@include mixin.marginTop(5px);
}

.mt--8 {
	@include mixin.marginTop(8px);
}

.mt--10 {
	@include mixin.marginTop(10px);
}

.mt--15 {
	@include mixin.marginTop(15px);
}

.mt--20 {
	@include mixin.marginTop(20px);
}

.mt--25 {
	@include mixin.marginTop(25px);
}

.mt--30 {
	@include mixin.marginTop(30px);
}

.mt--35 {
	@include mixin.marginTop(35px);
}

.mt--40 {
	@include mixin.marginTop(40px);
}

.mt--50 {
	@include mixin.marginTop(50px);
}

.mt--60 {
	@include mixin.marginTop(60px);
}
.mt--65 {
	@include mixin.marginTop(65px);
}

.mt--auto {
	@include mixin.marginTop(auto);
}

.mr--0 {
	@include mixin.marginRight(0);
}

.mr--5 {
	@include mixin.marginRight(5px);
}

.mr--10 {
	@include mixin.marginRight(10px);
}

.mr--15 {
	@include mixin.marginRight(15px);
}

.mr--20 {
	@include mixin.marginRight(20px);
}

.mr--25 {
	@include mixin.marginRight(25px);
}

.mr--30 {
	@include mixin.marginRight(30px);
}

.mr--32 {
	@include mixin.marginRight(32px);
}

.mr--35 {
	@include mixin.marginRight(35px);
}

.mr--40 {
	@include mixin.marginRight(40px);
}

.mr--auto {
	@include mixin.marginRight(auto);
}

.mb--0 {
	@include mixin.marginBottom(0);
}

.mb--5 {
	@include mixin.marginBottom(5px);
}

.mb--7 {
	@include mixin.marginBottom(7px);
}

.mb--10 {
	@include mixin.marginBottom(10px);
}

.mb--15 {
	@include mixin.marginBottom(15px);
}

.mb--20 {
	@include mixin.marginBottom(20px);
}

.mb--25 {
	@include mixin.marginBottom(25px);
}

.mb--28 {
	@include mixin.marginBottom(25px);
}

.mb--30 {
	@include mixin.marginBottom(30px);
}

.mb--35 {
	@include mixin.marginBottom(35px);
}

.mb--45 {
	@include mixin.marginBottom(45px);
}

.mb--50 {
	@include mixin.marginBottom(50px);
}

.mb--60 {
	@include mixin.marginBottom(60px);
}

.mb--65 {
	@include mixin.marginBottom(65px);
}

.mb--auto {
	@include mixin.marginBottom(auto);
}

.ml--0 {
	@include mixin.marginLeft(0);
}

.ml--5 {
	@include mixin.marginLeft(5px);
}

.ml--7 {
	@include mixin.marginLeft(7px);
}

.ml--10 {
	@include mixin.marginLeft(10px);
}

.ml--15 {
	@include mixin.marginLeft(15px);
}

.ml--17 {
	@include mixin.marginLeft(17px);
}

.ml--20 {
	@include mixin.marginLeft(20px);
}

.ml--25 {
	@include mixin.marginLeft(25px);
}

.ml--30 {
	@include mixin.marginLeft(30px);
}

.ml--40 {
	@include mixin.marginLeft(40px);
}

.ml--45 {
	@include mixin.marginLeft(40px);
}

.ml--auto {
	@include mixin.marginLeft(auto);
}

.p--0 {
	@include mixin.padding(0);
}

.p--10 {
	@include mixin.padding(10px);
}

.p--20 {
	@include mixin.padding(20px);
}

.p--25 {
	@include mixin.padding(25px);
}

.p--30 {
	@include mixin.padding(30px);
}

.pt--5 {
	@include mixin.paddingTop(5px);
}

.pt--10 {
	@include mixin.paddingTop(10px);
}

.pt--15 {
	@include mixin.paddingTop(15px);
}

.pt--20 {
	@include mixin.paddingTop(20px);
}

.pt--23 {
	@include mixin.paddingTop(23px);
}

.pt--25 {
	@include mixin.paddingTop(25px);
}

.pr--0 {
	@include mixin.paddingRight(0);
}

.pr--5 {
	@include mixin.paddingRight(5px);
}

.pr--10 {
	@include mixin.paddingRight(10px);
}

.pr--15 {
	@include mixin.paddingRight(15px);
}

.pr--20 {
	@include mixin.paddingRight(20px);
}

.pr--25 {
	@include mixin.paddingRight(25px);
}

.pr--30 {
	@include mixin.paddingRight(30px);
}

.pb--0 {
	@include mixin.paddingBottom(0);
}

.pb--5 {
	@include mixin.paddingBottom(5px);
}

.pb--10 {
	@include mixin.paddingBottom(10px);
}

.pb--15 {
	@include mixin.paddingBottom(15px);
}

.pb--20 {
	@include mixin.paddingBottom(20px);
}

.pl--0 {
	@include mixin.paddingLeft(0);
}

.pl--5 {
	@include mixin.paddingLeft(5px);
}

.pl--10 {
	@include mixin.paddingLeft(10px);
}

.pl--15 {
	@include mixin.paddingLeft(15px);
}

.pl--20 {
	@include mixin.paddingLeft(20px);
}

.pl--30 {
	@include mixin.paddingLeft(30px);
}

.pl--50 {
	@include mixin.paddingLeft(50px);
}

.top--10 {
	top: 10px;
}

.top--25 {
	top: 25px;
}

.right--25 {
	right: 25px;
}

.cursor--auto {
	cursor: auto;
}

.cursor--pointer {
	cursor: pointer;
}

.cursor-not--allowed {
	cursor: not-allowed;
}

.pointer-events--none {
	pointer-events: none;
}

.d--inline-block {
	@extend %d--inline-block;
}

.flex {
	@extend %flex;
}

.flex--column {
	@extend %flex--column;
}

.flex--column-reverse {
	@extend %flex--column-reverse;
}

.flex--row {
	@extend %flex--row;
}

.flex--row-reverse {
	@extend %flex--row-reverse;
}

.flex--wrap {
	@extend %flex--wrap;
}

.justify-content--center {
	@extend %justify-content--center;
}

.justify-content--end {
	@extend %justify-content--end;
}

.justify-content--start {
	@extend %justify-content--start;
}

.justify-content--between {
	@extend %justify-content--between;
}

.justify-content--around {
	@extend %justify-content--around;
}

.justify-content--evenly {
	@extend %justify-content--evenly;
}

.align-items--center {
	@extend %align-items--center;
}

.align-items--end {
	@extend %align-items--end;
}

.align-items--start {
	@extend %align-items--start;
}

.align-items--baseline {
	@extend %align-items--baseline;
}

.align-items--stretch {
	align-items: stretch;
}

.align-self--center {
	align-self: center;
}

.align-content--baseline {
	align-content: baseline;
}

.object-fit--cover {
	-o-object-fit: cover;
	object-fit: cover;
}

.object-fit--contain {
	-o-object-fit: contain;
	object-fit: contain;
}

.text--left {
	text-align: left;
}

.text--right {
	text-align: right;
}

.text--center {
	text-align: center;
}

.font-size--xxs {
	font-size: variable.$font-size-xxs;
}

.font-size--xs {
	font-size: variable.$font-size-xs;
}

.font-size--sm {
	font-size: variable.$font-size-sm;
}

.font-size--default {
	font-size: variable.$font-size-default;
}

.font-size--browser-default {
	font-size: variable.$font-size-browser-default;
}

.font-size--md {
	font-size: variable.$font-size-md;
}

.font-size--lg {
	font-size: variable.$font-size-lg;
}

.font-size--22 {
	font-size: 1.375rem;
}

.font-size--xl {
	font-size: variable.$font-size-xl;
}

.font-size--xxl {
	font-size: variable.$font-size-xxl;
}

.font-size--24 {
	font-size: 1.5rem;
}

.font-size--25 {
	font-size: 1.5625rem;
}

.font-size--26 {
	font-size: 1.625rem;
}

.font-size--28 {
	font-size: 1.75rem;
}

.font-size--30 {
	font-size: 1.875rem;
}

.font-size--34 {
	font-size: 2.125rem;
}

.font-size--40 {
	font-size: 2.5rem;
}

.font-size--50 {
	font-size: 3.125rem;
}
.font-size--128 {
	font-size: 8rem;
}
.line-height--sm {
	line-height: variable.$line-height-sm;
}

.line-height--default {
	line-height: variable.$line-height-default;
}

.line-height--md {
	line-height: variable.$line-height-md;
}

.line-height--lg {
	line-height: variable.$line-height-lg;
}

.line-height--20 {
	line-height: 20px;
}

.line-height--28 {
	line-height: 28px;
}

.line-height--70 {
	line-height: 70px;
}

.font--light {
	font-weight: variable.$font-light;
}

.font--regular {
	font-weight: variable.$font-regular;
}

.font--medium {
	font-weight: variable.$font-medium;
}

.font--semi-bold {
	font-weight: variable.$font-semi-bold;
}

.font--bold {
	font-weight: variable.$font-bold;
}

.font--extra-bold {
	font-weight: variable.$font-extra-bold;
}

.font--heavy {
	font-weight: variable.$font-heavy;
}

.font--extra-heavy {
	font-weight: variable.$font-extra-heavy;
}

.font-light {
	font-weight: variable.$font-light;
}

.font-regular {
	font-weight: variable.$font-regular;
}

.font-medium {
	font-weight: variable.$font-medium;
}

.font-semi-bold {
	font-weight: variable.$font-semi-bold;
}

.font-bold {
	font-weight: variable.$font-bold;
}

.font-extra-bold {
	font-weight: variable.$font-extra-bold;
}

.font-heavy {
	font-weight: variable.$font-heavy;
}

.font-extra-heavy {
	font-weight: variable.$font-extra-heavy;
}

.text--lowercase {
	text-transform: lowercase;
}

.text--uppercase {
	text-transform: uppercase;
}

.text--capitalize {
	text-transform: capitalize;
}

.text--initial {
	text-transform: initial;
}

.text-decoration--underline {
	text-decoration: underline;
}

.position--relative {
	position: relative;
}

.position--absolute {
	position: absolute;
}

.position--fixed {
	position: fixed;
}

.position--sticky {
	position: sticky;
}

.z-index--0 {
	z-index: 0;
}

.z-index--1 {
	z-index: 1;
}

.z-index--2 {
	z-index: 2;
}

.z-index--negative-1 {
	z-index: -1;
}

.z-index--negative-2 {
	z-index: -2;
}

.z-index--100 {
	z-index: 100;
}

.z-index--max {
	z-index: 999;
}

.overflow--hidden {
	overflow: hidden;
}

.overflow--hidden-x {
	overflow-x: hidden;
}

.overflow--auto-x {
	overflow-x: auto;
}

.overflow--auto {
	overflow: auto;
}

.opacity--10 {
	opacity: 0.1;
}

.opacity--20 {
	opacity: 0.2;
}

.opacity--30 {
	opacity: 0.3;
}

.opacity--40 {
	opacity: 0.4;
}

.opacity--50 {
	opacity: 0.5;
}

.opacity--60 {
	opacity: 0.6;
}

.opacity--70 {
	opacity: 0.7;
}

.opacity--80 {
	opacity: 0.8;
}

.opacity--100 {
	opacity: 1;
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.truncate--text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.truncate-lines--2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.truncate-lines--3 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.truncate-lines--4 {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fill--none {
	fill: none;
}

.fill--white {
	fill: variable.$white;
	&.with-opacity-50 {
		opacity: 0.5;
	}

	&.with-opacity-30 {
		opacity: 0.3;
	}
}

.fill--comet {
	fill: variable.$comet;
}

.fill--primary {
	fill: variable.$primary;
}

.fill--grey {
	@include mixin.getShadesColorClasses(variable.$grey, 'fill');
}

.fill--success {
	@include mixin.getShadesColorClasses(variable.$success, 'fill');
}

.fill--green {
	fill: variable.$green;
}

.fill--red {
	@include mixin.getShadesColorClasses(variable.$red, 'fill');
}

.stroke--white {
	stroke: variable.$white;
}

.stroke--primary {
	stroke: variable.$primary;
}

.text--primary {
	color: variable.$primary;
}

.text--white {
	color: variable.$white;
	&.with-opacity-50 {
		opacity: 0.5;
	}
	&.with-opacity-70 {
		opacity: 0.7;
	}
}

.text--red {
	@include mixin.getShadesColorClasses(variable.$red, 'color');
}
.text--success {
	@include mixin.getShadesColorClasses(variable.$success, 'color');
}

.text--blue {
	@include mixin.getShadesColorClasses(variable.$blue, 'color');
}

.text--black {
	color: variable.$black;
}
.text--grey {
	color: function.getColor(variable.$grey, 100);
}
.bg--grey {
	@include mixin.getShadesColorClasses(variable.$grey, 'background-color');
}

.bg--primary {
	background-color: variable.$primary;
}

.bg--white {
	background-color: variable.$white;
	&.with-opacity-10 {
		opacity: 0.1;
	}
}

.bg--black {
	background-color: variable.$black;
}

.bg--red {
	@include mixin.getShadesColorClasses(variable.$red, 'background-color');
}

.bg--blue {
	@include mixin.getShadesColorClasses(variable.$blue, 'background-color');
}

.bg--green {
	background-color: variable.$green;
}

.bg--orange-gradient {
	background: variable.$orange--gradient;
}

.bg--blue-gradient {
	background: variable.$blue--gradient;
}

.bg--violet-gradient {
	background: variable.$violet--gradient;
}

.bg--green-gradient {
	background: variable.$green--gradient;
}

.bg--purple-gradient {
	background: variable.$purple--gradient;
}

.bg--yellow-gradient {
	background: variable.$yellow--gradient;
}

.bg--black-gradient {
	background: variable.$black--gradient;
}

.bg--grey-gradient {
	background: variable.$grey--gradient;
}

.bg--transparent {
	background-color: transparent;
}

.border-radius--sm {
	border-radius: variable.$border-radius-sm;
}

.border-radius--5 {
	border-radius: 5px;
}

.border-radius--default {
	border-radius: variable.$border-radius-default;
}

.border-radius--lg {
	border-radius: variable.$border-radius-lg !important;
}

.border-radius--xxl {
	border-radius: variable.$border-radius-xxl;
}

.border-radius--half {
	border-radius: variable.$border-radius-circle;
}

.border-radius--100 {
	border-radius: 100px;
}

.rotate--180 {
	transform: rotate(180deg);
}

.rotate--90 {
	transform: rotate(90deg);
}

.scrollbar--hidden {
	&::-webkit-scrollbar {
		width: 0;
	}
}

.overflow--hidden-y {
	overflow-y: hidden;
}

.overflow--auto-y {
	overflow-y: auto;
}

.round-icon {
	width: 52px;
	height: 52px;
	border-radius: variable.$border-radius-circle;
	svg {
		width: 20px;
		height: 20px;
	}

	&.with-border {
		border: 1px solid variable.$white;
	}

	&.action-icon {
		height: 44px;
		width: 44px;
	}

	&.back-btn {
		width: 40px;
		height: 40px;
	}
}

.transition {
	transition: all 0.2s linear;
}

.error {
	color: function.getColor(variable.$red, 200);
	@include mixin.marginTop(10px);
}
